<h1>Add new document</h1>
<hr>
<br>

<div id="form-content">
  <form [formGroup]="addDocumentForm">
    <div class="inline">

      <div class="p-field">
        <label for="doc-name">Document Name</label>
        <input id="doc-name" pInputText formControlName="documentName" />
      </div>
      <br>

      <div class="p-field p-col-12 p-md-4">
        <label for="icon">Create Date</label>
        <p-calendar [showIcon]="true" inputId="icon" formControlName="createDate"></p-calendar>
      </div>
      <br>

      <div class="p-field p-col-12 p-md-4">
        <label for="icon">Upload Date</label>
        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
      </div>
      <br>

      <div class="p-field p-col-12 p-md-4">
        <label for="icon">Expiration Date</label>
        <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
      </div>
      <br>

      <div class="p-field">
        <label for="doc-name">Document Tag</label>
        <input id="doc-name" pInputText (keyup.enter)="addInput()" />
      </div>
      <br>

      <div class="p-field">
        <label for="tags">Tags</label>
        <p-chips id="tags" formControlName="tags"></p-chips>
      </div>
      <br>

    </div>
    <div class="inline" style="padding-left: 20px;">
      #uploader
    </div>
  </form>
</div>
